USE [master]
GO
/****** Object:  Database [aspnetcore-efcore]    Script Date: 20/3/2017 13:40:45 ******/
CREATE DATABASE [aspnetcore-efcore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aspnetcore-efcore', FILENAME = N'Z:\Database\aspnetcore-efcore\aspnetcore-efcore.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'aspnetcore-efcore_log', FILENAME = N'Z:\Database\aspnetcore-efcore\aspnetcore-efcore_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE Thai_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aspnetcore-efcore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aspnetcore-efcore]
GO
/****** Object:  Table [dbo].[M_BRANCHs]    Script Date: 20/3/2017 13:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_BRANCHs](
	[BRANCH_ID] [varchar](50) COLLATE Thai_CI_AS NOT NULL,
	[BRANCH_CODE] [varchar](50) COLLATE Thai_CI_AS NULL,
	[BRANCH_NAME] [varchar](50) COLLATE Thai_CI_AS NULL,
	[DELETE_STATUS] [varchar](50) COLLATE Thai_CI_AS NULL,
	[CREATE_BY] [varchar](50) COLLATE Thai_CI_AS NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_BY] [varchar](50) COLLATE Thai_CI_AS NULL,
	[UPDATE_DATE] [date] NULL,
	[REVISION] [varchar](50) COLLATE Thai_CI_AS NULL,
 CONSTRAINT [PK_M_BRANCHs] PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_CORPs]    Script Date: 20/3/2017 13:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_CORPs](
	[CORP_ID] [varchar](50) COLLATE Thai_CI_AS NOT NULL,
	[CORP_CODE] [varchar](50) COLLATE Thai_CI_AS NULL,
	[CORP_NAME] [varchar](50) COLLATE Thai_CI_AS NULL,
	[DELETE_STATUS] [varchar](50) COLLATE Thai_CI_AS NULL,
	[CREATE_BY] [varchar](50) COLLATE Thai_CI_AS NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_BY] [varchar](50) COLLATE Thai_CI_AS NULL,
	[UPDATE_DATE] [date] NULL,
	[REVISION] [varchar](50) COLLATE Thai_CI_AS NULL,
 CONSTRAINT [PK_M_CUSTOMERs] PRIMARY KEY CLUSTERED 
(
	[CORP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
